* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: white;
    background-color: blue;
}

header {
    background: linear-gradient(135deg, blue 0%, white 100%);
    color: white;
    padding: 0.10rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background: linear-gradient(150deg, red, orange, yellow);
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(105, 125, 250, 0.3);

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.nav-menu {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.nav-menu a{
    color: Black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: opacity 0.3s ease;
}

.hero{
    
}

}